SUPABASE_URL= https://hhmbiyxzdhaxulxvaipp.supabase.co
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhobWJpeXh6ZGhheHVseHZhaXBwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3ODMzNzgsImV4cCI6MjA5OTM1OTM3OH0.OpqgxGLtDSrkywNA2s5CoDgnA0lsWFcmhd8X4kGHaMI